*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    background-color: burlywood;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    width: 400px;
}
div .input{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.button{
    text-align: center;
}
.btn{
    font-size: 20px;
    width: 45%;
    padding: 5px;
}
h1{
    font-size: 40px;
    text-align: center;
}